* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

html {
  font-family: "BaiJamjuree";
  line-height: 1.5;
  font-weight: 400;
  color: #353535;
  background-color: #f2f1ef;
}

.container {
  width: 100%;
  max-width: calc(1280px + 2rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

.hidden {
  display: none !important;
}
/* -------------------------------------------------- */
.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: flex-start;
}

.gap-32 {
  gap: 32px;
}

.gap-43 {
  gap: 43.83px;
}

.gap-16 {
  gap: 16px;
}

.gap-12 {
  gap: 12px;
}

.gap-8 {
  gap: 8px;
}

.gap-40 {
  gap: 40px;
}

.gap-24 {
  gap: 24px;
}

.gap-44 {
  gap: 44px;
}

.gap-62 {
  gap: 62px;
}

.reverse {
  flex-direction: row-reverse;
}

.wrap {
  flex-wrap: wrap;
}
/* ----------------------------- */
.logo img {
  width: 32px;
  height: 32px;
  margin-left: 12.9px;
}

.moxa img {
  width: 85.86px;
  height: 16.93px;
}

.nav,
.btn {
  font-family: "BaiJamjuree";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #161513;
}

.nav {
  padding: 36px 16px;
}

.nav-link1,
.nav-link2,
.nav-link3 {
  border-bottom: 1px solid #161513;
}

.btn {
  padding: 9px 26px;
  border: 1px solid #161513;
}
/* --------------------------------------------------- */
.container1 {
  /* width: 100%; */
  max-width: calc(1060px + 2rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

.main-section {
  margin-top: 40px;
  margin-bottom: 48.39px;
}

.cards {
  padding-bottom: 49px;
}

.card1 img,
.reach img {
  width: 40px;
  height: 40px;
}

.main-title {
  padding-right: 24px;
}

.main-title,
.content p,
.expert,
.expert1 {
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
}

.description,
.description1,
p,
.team1,
.design2,
.newsletter,
.input,
.submit {
  font-weight: 400;
  font-size: 23px;
  line-height: 32px;
  color: #161513;
}

.description {
  margin-top: 32px;
  margin-bottom: 40px;
}

.description img,
.description1 img {
  width: 20px;
  height: 20px;
}

.btn-black,
.btn-grey {
  padding: 13px 33px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.btn-black {
  background-color: #161513;
  color: #ffffff;
  border: 1px solid #161513;
}
/* ------------------------------------------------------- */
.about {
  margin-top: 123.76px;
  margin-bottom: 120.5px;
  padding-top: 49px;
}

.about-lead {
  max-width: 408px;
  padding-right: 57px;
  padding-bottom: 58.5px;
}

.description1 {
  margin-bottom: 21.5px;
}

.place,
.place2 {
  font-weight: 400;
  font-size: 31px;
  line-height: 40px;
}

.place1 {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  margin-top: 36px;
  margin-bottom: 27px;
}

.born,
.year,
.year1,
.year3,
.team2,
.product1,
.product2,
.artb,
.motion2,
.span {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

.born {
  color: #e94d35;
  margin-bottom: 8px;
}
/* ----------------------------------------------- */
.exp {
  border: 2px solid #161513;
}

.expert,
.expert1 {
  text-align: center;
  margin-bottom: 11px;
}

.year,
.year1 {
  padding-left: 73px;
  padding-right: 73px;
}

.year,
.year1,
.year3,
.artb {
  text-align: center;
  text-transform: uppercase;
}

.four1 {
  border-left: 2px solid #161513;
  border-right: 2px solid #161513;
  background-color: #161513;
  padding-top: 21px;
  padding-bottom: 24px;
}

.expert1,
.year1 {
  color: #ffffff;
}
/* ------------------------------------------------- */
.awards {
  margin-top: 120px;
  margin-bottom: 96px;
}

.reach {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.reach img {
  margin-left: auto;
  margin-right: auto;
}

.title,
.epic,
.epic1,
.epic2,
.epic3 {
  font-weight: 400;
  font-size: 45px;
  line-height: 56px;
}

.title {
  margin-top: 22px;
  margin-bottom: 9px;
}

.year3 {
  margin-bottom: 60.5px;
}

.webflow {
  padding: 38px 34px;
  border: 2px solid #161513;
  margin-bottom: 24px;
}

.span {
  background-color: #e94d35;
  padding: 7px 19px 9px 19px;
  text-align: center;
  color: #ffffff;
}
/* ---------------------------------------- */
.art {
  margin-bottom: 96px;
}

.artb {
  padding: 3px 12px 5px 12px;
  background-color: #e94d35;
  color: #ffffff;
  border: none;
}

.epic,
.epic1,
.epic2,
.epic3 {
  margin-top: 30px;
  margin-bottom: 49px;
}

.epic {
  padding-right: 39px;
}

.epic1 {
  padding-right: 75px;
}

.epic2 {
  padding-right: 91px;
}

.epic3 {
  padding-right: 103px;
}

.read {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}
/* --------------------------------------------------- */
.service {
  margin-top: 120px;
  margin-bottom: 160px;
}

.web {
  max-width: 510px;
  border: 2px solid #161513;
  padding: 34px 49px 30px 34px;
}

.place2 {
  margin-bottom: 28px;
}
/* ----------------------------------- */
.customer {
  margin-bottom: 60px;
}

.tribal {
  margin-top: 60px;
}

.trade-mark {
  max-width: calc(25% - (96px / 4));
  border: 1px solid #131416;
  padding: 42px 85px;
}
/* --------------------------------------- */
.articles {
  padding-top: 63px;
  padding-bottom: 136px;
}

.ticle {
  margin-top: 60px;
  margin-bottom: 60px;
  padding-top: 34px;
  padding-bottom: 34px;
}

.row,
.row1 {
  padding: 0px 34px 9px 34px;
  border: 1px solid #161513;
}

.row {
  margin-bottom: 100px;
}

.design1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #e94d35;
}

.design2 {
  padding-right: 44px;
}

.artdesign {
  max-width: 457px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.browse {
  background-color: #161513;
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 14px;
}
/* -------------------------------- */
.adress {
  background-color: #e6e3de;
}

.adress1 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.input {
  padding: 12px 22px;
  background-color: #e6e3de;
  color: #161513;
}

.submit {
  padding: 12px 15px;
  background-color: #161513;
  color: #ffffff;
}
/* -------------------------------------- */
.footer {
  padding-top: 66px;
  padding-bottom: 25px;
  background-color: #161513;
}

.guide {
  margin-bottom: 48px;
}

.chan {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  padding: 7.56px 16px 8.44px 16px;
}

.net {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  padding: 7.56px 0px 8.44px 0px;
}
/* -------------------------------------- */
.motion {
  margin-top: 49px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #161513;
  rotate: -4.93deg;
}

.motion2 {
  color: #ffffff;
}
