* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  font-family: "Pacifico";
  font-size: 18px;
  font-weight: 400;
  color: blue;
  text-decoration: none;
  padding-left: 150px;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 0.5rem;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color: #353535;
}

.container {
  width: 100%;
  max-width: calc(1110px+2rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

.card {
  max-width: 300px;
  padding: 1rem;
  border: 1px none;
  border-radius: 1rem;
  box-shadow: 0 0 30px rgba(50, 50, 100, 0.25);
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: "Pacifico";
  font-size: 18px;
  font-weight: 700;
  color: #303030;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

h2 {
  font-family: "Pacifico";
  font-size: 18px;
  font-weight: 700;
  color: #303030;
  text-align: center;
}

h3 {
  font-family: "Pacifico";
  font-size: 18px;
  font-weight: 700;
  color: #303030;
  text-align: center;
}

.description {
  font-family: "Pacifico";
  font-size: 18px;
  font-weight: 400;
  color: #909090;
  text-align: center;
}
hr {
  color: #909090;
  text-decoration: underline;
}

.hidden {
  display: none !important;
}
